@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e8f8f5;
    margin: 0;
}

.brand{
    margin-left: 30px;
    text-align: center;
    font-weight: bolder;
}

.navbar {
    background-color: #117864;
    color: white;
    padding: 0px 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    text-align: end;
    margin: 10px 30px;
}

.navbar a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-weight: bolder;
}

main {
    background-color: white;
    margin: 40px auto;
    margin-top: 75px;
    padding: 30px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

form input[type="text"],
form input[type="number"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form input[type="submit"] {
    background: #117864;
    color: white;
    border: none;
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #0e6655;
}

footer {
    background-color: #117864;
    color: white;
    padding: 10px 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.success { 
    color: green;
    text-align: center;
}

.error { 
    color: red;
    text-align: center; 
}
