body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #2c3e50;
    margin: 0;
}

.brand{
    margin-left: 30px;
    text-align: start;
    font-weight: bolder;
}

.navbar {
    background-color: #0a7ef1;
    color: white;
    padding: 0px 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    text-align: end;
    margin: 10px 30px;
}

.navbar a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-weight: bolder;
}

.navbar a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    margin: 40px auto;
    margin-top: 75px;
    padding: 30px;
    max-width: 500px;
    min-height: 300px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background: #ecf0f1;
    margin-bottom: 20px;
    border-radius: 6px;
}

footer {
    background-color: #0a7ef1;
    color: white;
    padding: 10px 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.success {
    color: green;
    text-align: center;
}
.error {
    color: red;
    text-align: center;
}
